


    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <div class="row g-3">
                    <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
                        <div class="card" style="width: 18rem;">
                            <img src="https://th.bing.com/th/id/OIP.klM4JNQXbuRRamij2P6UqgAAAA?w=178&h=180&c=7&r=0&o=5&pid=1.7" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Employee 1</h5>
                              <p class="card-text">
                                Age : 18
                              </p>
                              <a href="#" class="btn btn-primary">Other Details</a>
                            </div>
                          </div>
                    </div>
                    <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
                        <div class="card" style="width: 18rem;">
                            <img src="https://th.bing.com/th/id/OIP.klM4JNQXbuRRamij2P6UqgAAAA?w=178&h=180&c=7&r=0&o=5&pid=1.7" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Employee 2</h5>
                              <p class="card-text">
                                Age : 18
                              </p>
                              <a href="#" class="btn btn-primary">Other Details</a>
                            </div>
                          </div>
                     </div>


                     <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
                        <div class="card" style="width: 18rem;">
                            <img src="https://th.bing.com/th/id/OIP.klM4JNQXbuRRamij2P6UqgAAAA?w=178&h=180&c=7&r=0&o=5&pid=1.7" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Employee 3</h5>
                              <p class="card-text">
                                Age : 18
                              </p>
                              <a href="#" class="btn btn-primary">Other Details</a>
                            </div>
                          </div>
                    </div>
                    <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
                        <div class="card" style="width: 18rem;">
                            <img src="https://th.bing.com/th/id/OIP.klM4JNQXbuRRamij2P6UqgAAAA?w=178&h=180&c=7&r=0&o=5&pid=1.7" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Employee 4</h5>
                              <p class="card-text">
                                Age : 18
                              </p>
                              <a href="#" class="btn btn-primary">Other Details</a>
                            </div>
                          </div>
                    </div>
                    <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
                        <div class="card" style="width: 18rem;">
                            <img src="https://th.bing.com/th/id/OIP.klM4JNQXbuRRamij2P6UqgAAAA?w=178&h=180&c=7&r=0&o=5&pid=1.7" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Employee 5</h5>
                              <p class="card-text">
                                Age : 18
                              </p>
                              <a href="#" class="btn btn-primary">Other Details</a>
                            </div>
                          </div>
                    </div>

                     <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
                        <div class="card" style="width: 18rem;">
                            <img src="https://th.bing.com/th/id/OIP.klM4JNQXbuRRamij2P6UqgAAAA?w=178&h=180&c=7&r=0&o=5&pid=1.7" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Employee 6</h5>
                              <p class="card-text">
                                Age : 18
                              </p>
                              <a href="#" class="btn btn-primary">Other Details</a>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>